<h1>My Bulk Discounts:</h1>

<% @bulk_discounts.each do |discount| %>
  <section id="discount<%= discount.id%>">
  <p><%= discount.id %></p>
  <p><%= discount.quantity_threshold %></p>
  <p><%= discount.percentage_discount %></p>
  </section>
<% end %>
